.nav {
  padding: 0;
  background-color: #4286f4;
  display: flex;
  height: 75px;
}
#logo{
  border-style: solid;
  flex-grow: 1;
  justify-content: flex-start;
  display: flex;
  align-items: center;
}
#logo a{
  color: #fff;
  text-decoration: none;
  border-style: solid;
  margin: 10px;
  padding: 5px;
}
#log-status{
  border-style: solid;
  flex-grow: 1;
  justify-content: flex-end;
  display: flex;
  align-items: center;
}
#log-status a{
  color: #fff;
  text-decoration: none;
  border-style: solid;
  margin: 10px;
  padding: 5px;
}
