#home{
    padding: 0;
    border-style: solid;
    width: 100%;
    height: 100vh;;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#content-holder{
    border-style: solid;
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
}