#list{
    border-style: solid;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#list-title{
    border-style: solid;
    display: flex;
}
#list-items{

}
#list-add{
    border-style: solid;
    display: flex;
    flex-direction: column;
}
#list-add span{
    display: flex;
}


.regular{
    background-color: #e5223f;
}

.modified{
    background-color: #000;
}